<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9y9MsCUVck_csEwIRnSxS8yfRykuO4x4</string>
	<key>GCM_SENDER_ID</key>
	<string>475788557748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.TaskDivine</string>
	<key>PROJECT_ID</key>
	<string>swiftuitaskdivine-b2263</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitaskdivine-b2263.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475788557748:ios:fceee9cbeb9d4f203146e1</string>
</dict>
</plist>